p{
    color: blueviolet;
    text-align: center;
    font-size: 25px;
    background-color: aqua;
}
h1{
    color: blue;
    text-align: center;
    text-decoration: dashed;
}
.img{
    height: 150px;
}
